<!DOCTYPE html>
<html>
<u></u>
<div style="background-color:#ffffff">
    <div style="background-color:#ffffff">
        <table role="presentation" style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td>
                        <div style="Margin:0px auto;max-width:775px">
                            <table role="presentation" style="width:100%" cellspacing="0" cellpadding="0" border="0"
                                align="center">
                                <tbody>
                                    <tr>
                                        <td
                                            style="direction:ltr;font-size:0px;padding:0px 0px 0px 0px;text-align:center;vertical-align:top">
                                            <div class="m_-6214562215125884917mj-column-per-100"
                                                style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                                <table role="presentation" style="vertical-align:top" width="100%"
                                                    cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:0px;padding:5px 5px 5px 15px;word-break:break-word"
                                                                align="center">
                                                                <div
                                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;text-align:center;color:#6d6e6f">
                                                                    <h2><strong><span
                                                                                style="font-size:30px;color:#6d6e6f">Tesbihcim
                                                                                Oltu</span></strong>
                                                                    </h2>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div style="Margin:0px auto;max-width:775px">
            <hr>
        </div>

        <div style="Margin:0px auto;max-width:775px">
            <table role="presentation" style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td
                            style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center;vertical-align:top">
                            <div class="m_-6214562215125884917mj-column-per-100"
                                style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table role="presentation" style="vertical-align:top" width="100%" cellspacing="0"
                                    cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:5px 5px 5px 15px;word-break:break-word"
                                                align="left">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;text-align:left;color:#6d6e6f">
                                                    <p><strong><span style="font-size:14px;color:#6d6e6f">Merhaba
                                                                {{customerName}} {{customerLastName}}</span></strong></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="Margin:0px auto;max-width:775px">
            <table role="presentation" style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td
                            style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center;vertical-align:top">
                            <div class="m_-6214562215125884917mj-column-per-100"
                                style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table role="presentation" style="vertical-align:top" width="100%" cellspacing="0"
                                    cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word"
                                                align="left">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;text-align:left;color:#000000">
                                                    <table style="background:#7801ff;border-collapse:collapse"
                                                        cellspacing="0" cellpadding="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:9.0pt 9.0pt 9.0pt 9.0pt">
                                                                    <table
                                                                        style="background:white;border-collapse:collapse"
                                                                        cellspacing="0" cellpadding="0" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:9.0pt 0pt 0pt 9.0pt">
                                                                                    <p class="MsoNormal"><span
                                                                                            style="font-family:'Arial',sans-serif;color:#6d6e6f">
                                                                                            Siparişiniz onaylanmış olup kargoya verilmek için hazırlanmaya başlanmıştır.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="padding:0pt 9.0pt 9.0pt 9.0pt">
                                                                                    <p class="MsoNormal"><span
                                                                                            style="font-family:'Arial',sans-serif;color:#6d6e6f">
                                                                                            Fatura bilgileriniz ekte yer almaktadır.
                                                                                            <br><br><strong>Fatura
                                                                                                No:
                                                                                            </strong>{{id}}<br><strong>Fatura
                                                                                                Tutari:
                                                                                            </strong>{{totalPrice}}&nbsp;TL<br><br></span><span
                                                                                            style="font-size:10.5pt;font-family:'Arial',sans-serif;color:#6d6e6f">443
                                                                                            no'lu Vergi Usul
                                                                                            Kanunu Genel
                                                                                            Tebliği'ne göre
                                                                                            faturanız, E-Arşiv
                                                                                            izni kapsamında
                                                                                            elektronik ortamda
                                                                                            iletilmiştir.</span><span
                                                                                            style="font-family:'Arial',sans-serif;color:#6d6e6f"><br><br>Saygılarımızla,<br>
                                                                                            <strong><span style="font-family:'Arial',sans-serif">
                                                                                                Tesbihcim Oltu LTD ŞTI.
                                                                                                </span></strong></span>
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="Margin:0px auto;max-width:775px">
            <table role="presentation" style="width:100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td
                            style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center;vertical-align:top">
                            <div class="m_-6214562215125884917mj-column-per-100"
                                style="font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                <table role="presentation" style="vertical-align:top" width="100%" cellspacing="0"
                                    cellpadding="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="font-size:0px;padding:0px 50px 0px 0px;word-break:break-word"
                                                align="right">
                                                <div
                                                    style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:11px;line-height:1.5;text-align:right;color:#6d6e6f">
                                                    <p><strong><span style="font-size:14px;color:#6d6e6f">
                                                                +90 532 430 46 58
                                                        </span></strong></p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="adL">
        </div>
    </div>
    <div class="adL">
    </div>
</div>

</html>