<html>
<div style="overflow: hidden;">
    <font size="-1">
        <div bgcolor="#EDEBF0">
            <div align="center">
                <table style="border-collapse:collapse" width="750" cellpadding="2" border="10" bgcolor="#FFFFFF">
                    <tbody>
                        <tr>
                            <td width="509">
                                <p align="center">
                                    <img src="https://ci4.googleusercontent.com/proxy/-jLEP9Kt-rCBYyOpETo9t0zrqvHUcS4JcfwGKAy8ANGW497DgdCjwcWIsVPHDEcsROAyaG3PepCGzcwORw=s0-d-e1-ft#https://www.kitapsec.com/resimler/logo.jpg"
                                        width="292" height="70" border="0" align="left">
                                </p>
                            </td>
                            <td width="220">
                                <img src="https://ci5.googleusercontent.com/proxy/MCwVodop9CYzmpPSIvEpON0Hp45M0HaRCM_pvbreGrcCJOiwjn8lEQ4PEEvYInTnm06YyhJ7F_PHbd8-0JY7t1ZykxU=s0-d-e1-ft#https://www.kitapsec.com/resimler/SosyalMedya.jpg"
                                    width="214" height="65" border="0" align="right">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" cellspacing="7" cellpadding="7" border="0">
                                    <tbody>
                                        <tr>
                                            <td> Sayın Adem Enes POLAT
                                                <br>
                                                <br>8800326 nolu siparişiniz tarafımızca alınmıştır
                                                <br>
                                                <br>ilgili siparişinizin ödemesi editörlerimizce onaylandıkdan sonra
                                                size bilgilendirci bir mail gönderilecektir..
                                                <br>
                                                <br>her türlü sorularınız için <a href="mailto:bilgi@kitapsec.com"
                                                    target="_blank">bilgi@kitapsec.com</a> mail adresinden bize
                                                ulaşabilirsiniz..
                                                <br>
                                                <br>
                                                <table width="100%" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>Alıcı Ad Soyad</td>
                                                            <td> : Adem Enes POLAT</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Telefon</td>
                                                            <td> : 05370475577</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Adres</td>
                                                            <td> : Yasin Haşimoğlu Mah. Başak Sok. Öz Başak Koo. B Blok
                                                                No:6 (14/B-6) </td>
                                                        </tr>
                                                        <tr>
                                                            <td>İlçe</td>
                                                            <td> : OLTU</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Şehir</td>
                                                            <td> : ERZURUM</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Seçtiniz Kargo</td>
                                                            <td> : PTT Kargo</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br>
                                                <br><b> Siparişinizde bulunan ürün listesi</b>
                                                <br>
                                                <br><b>Kredi kartına peşin ödeme çizelgesi</b>
                                                <table id="m_-8887827560359816454table4" width="100%" cellspacing="0"
                                                    cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td style="font-size:9pt;color:#993366;border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding-left:5px;padding-right:5px"
                                                                height="27" align="center">
                                                                <center><b>Ürün Adı</b></center>
                                                            </td>
                                                            <td style="font-size:9pt;color:#993366;border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding-left:5px;padding-right:5px"
                                                                width="40" height="27" align="center">
                                                                <center><b>Adet</b></center>
                                                            </td>
                                                            <td style="font-size:9pt;color:#993366;border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding-left:5px;padding-right:5px"
                                                                width="100" height="27" align="center">
                                                                <center><b>Birim Fiyatı</b></center>
                                                            </td>
                                                            <td style="font-size:9pt;color:#993366;border-left:1px solid #e2e2e2;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding-left:5px;padding-right:5px"
                                                                width="120" height="27" align="center">
                                                                <center><b>Adet Toplam (TL)</b></center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:9pt;border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;padding-left:10px"
                                                                height="23"><b>
                                                                    <font style="font-size:9pt;color:#993366">2021 TYT
                                                                        Tarih Soru Bankası Benim Hocam Yayınları</font>
                                                                </b><br>Mağaza : <font
                                                                    style="font-size:9pt;color:#993366">KitapSeç</font>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#993366"
                                                                height="23" bgcolor="#F5F5F5" align="center">
                                                                <center>1</center>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#666666"
                                                                height="23" align="center">
                                                                <center>22.45 TL</center>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#993366"
                                                                height="23" bgcolor="#F5F5F5" align="center">
                                                                <center>22.45</center>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size:9pt;border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;padding-left:10px"
                                                                height="23"><b>
                                                                    <font style="font-size:9pt;color:#993366">2021 TYT
                                                                        Türkçe Soru Bankası Benim Hocam Yayınları</font>
                                                                </b><br>Mağaza : <font
                                                                    style="font-size:9pt;color:#993366">KitapSeç</font>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#993366"
                                                                height="23" bgcolor="#F5F5F5" align="center">
                                                                <center>1</center>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#666666"
                                                                height="23" align="center">
                                                                <center>25.90 TL</center>
                                                            </td>
                                                            <td style="border-left:1px solid #e2e2e2;border-right-width:1px;border-bottom:1px solid #e2e2e2;font-size:9pt;color:#993366"
                                                                height="23" bgcolor="#F5F5F5" align="center">
                                                                <center>25.90</center>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div align="right">
                                                    <font><b>Kredi Kartına Peşin....</b></font>
                                                    <table id="m_-8887827560359816454table9" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#666666" align="right">
                                                                    Ara Toplam</td>
                                                                <td style="font-size:9pt;color:#666666">:</td>
                                                                <td style="font-size:9pt;color:#666666" align="right">
                                                                    <div align="right"><b>48.35
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#ff6600" align="right">
                                                                    KDV Toplamı</td>
                                                                <td style="font-size:9pt;color:#ff6600">:</td>
                                                                <td style="font-size:9pt;color:#ff6600" align="right">
                                                                    <div align="right"><b>0.00
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    Ürün Genel Toplam Fiyat </td>
                                                                <td style="font-size:9pt;color:#993366">&nbsp;</td>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    <div align="right"><b>48.35
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    Kargo Ücreti</td>
                                                                <td style="font-size:9pt;color:#993366">&nbsp;</td>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    <div align="right"><b>8.90
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#ff6600" align="right">
                                                                    29.90 TL. üstü alışverişinizde kargo bizden </td>
                                                                <td style="font-size:9pt;color:#993366">&nbsp;</td>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    <div align="right"><b>- 8.90
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    Sipariş Genel Toplam</td>
                                                                <td style="font-size:9pt;color:#993366">&nbsp;</td>
                                                                <td style="font-size:9pt;color:#993366" align="right">
                                                                    <div align="right"><b>48.35
                                                                            TL.</b></div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <br>
                                                <br>İyi günler dileriz.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p align="left">
                                    <br>
                                    <br>
                                    &nbsp;
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p align="center"><strong><a href="https://www.kitapsec.com/" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.kitapsec.com/&amp;source=gmail&amp;ust=1622615994010000&amp;usg=AFQjCNFPnzxvVWOVf69cLaGrsSoN0X7MZA">Ana
                                            Sayfa</a> -
                                        <a href="https://www.kitapsec.com/Konu/Iletisim-Bilgileri.html" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.kitapsec.com/Konu/Iletisim-Bilgileri.html&amp;source=gmail&amp;ust=1622615994010000&amp;usg=AFQjCNG34EF_JAp5fbjIiUQ0HggIE85z7A">İletişim
                                            Bilgilerimiz</a> -
                                        <a href="https://www.kitapsec.com/BankaHesaplari.php" target="_blank"
                                            data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.kitapsec.com/BankaHesaplari.php&amp;source=gmail&amp;ust=1622615994010000&amp;usg=AFQjCNGLUQn-r_VQsDdr1aRwOBPGVEbsIg">
                                            Banka Hesaplarımız</a></strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p align="center"><br>
                                    &nbsp;Kitapseç Yayıncılık Elektronik Nakliye ve San. Ltd. Şti. <br>
                                    Adres: Anadolu Organize Sanayi Bölgesi 6. Cadde No:6 Malıköy / Sincan / ANKARA<br>
                                    Telefon : 0850 555 62 52
                                    <br>
                                    <br>
                                    <a href="https://www.kitapsec.com/" target="_blank"
                                        data-saferedirecturl="https://www.google.com/url?hl=en-GB&amp;q=https://www.kitapsec.com/&amp;source=gmail&amp;ust=1622615994010000&amp;usg=AFQjCNFPnzxvVWOVf69cLaGrsSoN0X7MZA">www.kitapsec.com</a>
                                    |
                                    <a href="mailto:bilgi@kitapsec.com" target="_blank">bilgi@kitapsec.com</a>
                                </p>
                                <p align="center">
                                    <img src="https://ci3.googleusercontent.com/proxy/RTqM40oxBJsYU063HCOKkDMsuALFXIUdCjwNoIqIp-pTJlTyxBKmAllnA0lRSkTyc7P5OyG-8-BisiSHit-_HxM=s0-d-e1-ft#https://www.kitapsec.com/resimler/Bankalar.jpg"
                                        width="650" height="59" border="0">
                                </p>
                                <p align="center"><br>
                                </p>
                                <p></p>
                                <p></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </font>
</div>
</td>
</tr>
</tbody>

</html>